

  <ion-list class="urgency" >
    <h1>Urgency</h1>
    <button class="button button-block yellow" ng-click="selectUrgency('yellow')">
      button-balanced
    </button>

    <button class="button button-block orange">
      button-energized
    </button>

    <button class="button button-block red">
      button-assertive
    </button>

  </ion-list>



<button type="button" name="back" ng-click="goTo('send.places')">back</button>
<button type="button" name="next" ng-click="sendRequest(req)">send</button>
