/* Empty. Add your own CSS if you like */

a{
  cursor:pointer;
}
img {
      width: 100px;
      height: 100px;
}
ion-item{
  cursor: pointer;
}
.urgency ion-item{

  /*width: 300px;*/
  height: 138px;
  border: 1px solid rgb(215, 215, 215);
}
ion-item.selected{

  border: 2px solid rgb(0, 251, 246);
}
.red{
 background: rgb(247, 84, 84);
}
.orange{
  background:  rgb(255, 158, 45);
}
.yellow{
  background: rgb(255, 241, 57);
}
