redUrgency = rgb(252, 72, 72);
orangeUrgency = rgb(255, 158, 43);
yellowUrgency = rgb(255, 248, 89);

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
a{
  cursor:pointer;
}
.title{
  cursor:pointer;
}
img {
      width: 100px;
      height: 100px;
}
ion-item{
  cursor: pointer;
}
.urgency .button{
  width: 300px;
  height: 123px;
}

ion-item.selected{
  border: 2px solid rgb(0, 251, 246);
}

.red{
  background: redUrgency
}
.orange{
  background: orangeUrgency
}
.yellow{
  background: yellowUrgency
}
